<div id="bg" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bg" data-slide-to="0" class="active"></li>
        <li data-target="#bg" data-slide-to="1"></li>
        <li data-target="#bg" data-slide-to="2"></li>
        <li data-target="#bg" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div style="position: relative; left: 0; top: 0;">
                <img src="assets/images/CM-Main-BG-Images00.jpg" style="height:100vh;" />
            </div>
        </div>

        <div class="item">
            <div style="position: relative; left: 0; top: 0;">
                <img src="assets/images/CM-Main-BG-Images01.jpg" style="height:100vh;" />
            </div>
        </div>
        <div class="item">
            <div style="position: relative; left: 0; top: 0;">
                <img src="assets/images/CM-Main-BG-Images02.jpg" style="height:100vh;" />
            </div>
        </div>
        <div class="item">
            <div style="position: relative; left: 0; top: 0;">
                <img src="assets/images/CM-Main-BG-Images03.jpg" style="height:100vh;" />
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control">
        <i class="fa fa-angle-left glyphicon-chevron-left" aria-hidden="true" data-slide="prev" role="button" href="#bg"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control">
        <span class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true" href="#bg" role="button" data-slide="next"></span>
        <span class="sr-only">Next</span>
    </a>

    <div class="search-location-display">
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <div class="col-md-12" align="center">                    
                <h2>Order your food requirement now at Crashmeal</h2>
            </div>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <div class="col-md-12" align="center">
                <h3>Enjoy your fresh food</h3>
            </div>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <!-- <div class="col-md-3"></div> -->
            <div class="col-md-12" align="left">
                
                <div class="location-search-addon">
                    <div style="padding-left: 0px; text-align: left">
                        <div class="row" style="margin-left: 0px;margin-right: 0px">
                            <div class="col-md-3" align="left">
                                <input type="radio" name="type" checked/>Delivery
                            </div>
                            <div class="col-md-3" align="left">
                                <input type="radio" name="type" /> Pickup
                            </div>
                            <div class="col-md-6" align="left">
                                <input type="radio" name="type" />Dine-in
                            </div>
                        </div>
                    </div>

                    <i class="fa fa-map-marker" id="locator" aria-hidden="true" style="color: green"></i>
                    <img src="assets/images/gpr-icon.jpg" id="locate-me" style="height: 38px; width: 42px;cursor: pointer" (click)="setCurrentPosition()"
                    />
                    <!-- <i class="fa fa-crosshairs" id="locate-me" aria-hidden="true" style="color: black"></i> -->
                    <button class="btn btn-success" id="findFoodButton" (click)="openMapLocation()">FIND FOOD</button>
                    <button class="close-icon" type="reset" *ngIf="isCloseEnable() && closeFlag" (click)="resetSearch()"></button>
                    <input type="text" class="form-control" (change)="reloadElement()" placeholder="Start Enter your Location" autocorrect="off"
                        autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"
                        [(ngModel)]="locationName" style="height: 40px;"/>
                </div>
                <div *ngIf="displayMap && !displaySearchBar1" class="location-search-addon">
                    <agm-map [styles]="disableUnwanted" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
                        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                            [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

                            <agm-info-window [isOpen]="true">
                                <strong style="color: black">You are here</strong>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>                                        
                    <button id="button" class="btn btn-success findRestaurants">Find Restaurants</button>
                    <div class="edit-location">
                        <button class="btn btn-sm btn-primary" *ngIf="!markers[0].draggable" (click)="enableEditLocation()">Edit</button>
                        <button class="btn btn-sm btn-primary" *ngIf="markers[0].draggable" (click)="resetLocation()">Reset</button> 
                    </div>
                    <div class="close-map">
                         <i class="fa fa-window-close" style="color: #8c8c8c;font-size: 20px;cursor: pointer" (click)="displayMap=false"></i> 
                    </div>                                          
                </div>
                         
            </div>
        </div>       
    </div>

</div>