
#landingPageId {
    font-family: 'Maven Pro', sans-serif;
    background-color: white;
}

.carousel-inner img {    
    width: 100% ; /* Set width to 100% */
    //height: 100%; /* Set width to 100% */
    //height:650px !important;
    margin: auto ;
}
.carousel-caption {
    color: white !important;
    //font-weight: bold;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
 
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;    
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px; 
    border: none !important;   
}

.navbar-default {
    border: none !important;
    border-color: initial !important;
    background-color: initial !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

footer {
    background-color: #2a2e39;
    color: white;
    height: 40px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 15;
}
footer a {
    color: #f5f5f5;
    font-size: 12px;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}

.bottom-height-adjust{
    margin-bottom: 40px;    
}

.carousel-caption {
    padding-bottom: 450px !important;
}

.carousel-inner {
    height: 630px !important;
}

.carousel-control {
    bottom: 200px !important;     
}

.carousel-control.left {
    height: 100% !important;
    z-index: 11;
}

.carousel-control.right {
    height: 100% !important;
    z-index: 11;
}

.button-white {
    background-color: white;
    margin-top: 17px;
    border: 1px solid #cccccc;
    height: 30px;
    font-weight: bold;
    color: black;
    font-size: 12px;
    margin-right: 10px;
}

.circle-border-icon {
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    width: 28px;
    box-shadow: 0px 0px 2px white;
    padding: 0.5em 0.6em;
}

.location-search-addon {
    position: relative;
}
.location-search-addon input {
    padding-left: 30px;
    padding-right: 30px;   
}
.location-search-addon #locator {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    font-size: 20px;
}

.location-search-addon #locate-me {
    position: absolute;
    right: 0px;
    padding: 10px 12px;    
    font-size: 20px;
}

.location-search-addon #button {
    position: absolute;
    right: -100px;
    padding: 10px 12px;
    width: 104px;
    background-color: #00923f;
    height: 40px;    
}

.thirdLayer {
    position: relative;    
} 

.thirdLayerOverlay1 {
    position: absolute;
    top: 80px;
    right: 114px;    
}

.thirdLayerOverlay2 {
    position: absolute;
    top: 110px;
    right: 266px;    
}

.thirdLayerOverlay3 {
    position: absolute;
    top: 360px;
    right: 0px;    
}

agm-map {
    height: 316px;
    width: 631px;
}

.agm-map-container-inner .sebm-google-map-container-inner {
    border: 1px solid green !important;
}

.search-location-display {
    position: absolute;
    top: 60px;
    width: 100%;
    //left: 340px;
    color: white;
}

.edit-location {
    position: absolute;
    top: 447px;
    right: 0px;
    width: 100%;
}

#bg {
    position: relative;   
}

.agm-map-content div{
    border: 5px solid red !important;
}

  

