
/**
#landingPageId {
    font-family: 'Myriad Set Pro'; letter-spacing: -0.025em;
    background-color: white;
}
**/
.carousel-inner img {    
    width: 100% ; 
    margin: auto ;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 32px !important;
    }
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
 
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;    
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px; 
    border: none !important;   
}

.navbar-default {
    border: none !important;
    border-color: initial !important;
    background-color: initial !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

footer {
    background-color: #2a2e39;
    color: white;
    height: 6vh;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 15;
}
footer a {
    color: #f5f5f5;
    font-size: 12px;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}

.bottom-height-adjust{
    margin-bottom: 40px;    
}

.carousel-caption {
    padding-bottom: 450px !important;
}

.carousel-control {
    bottom: 200px !important;     
}

.carousel-control.left {
    height: 100% !important;
    z-index: 11;
}

.carousel-control.right {
    height: 100% !important;
    z-index: 11;
}

@media (max-width: 768px) {
    .carousel-control.left {
        height: 100% !important;
        z-index: 0;
    }
    
    .carousel-control.right {
        height: 100% !important;
        z-index: 0;
    }
}
.button-white {
    background-color: white;
    margin-top: 17px;
    border: 1px solid #cccccc;
    height: 30px;
    font-weight: bold;
    color: black;
    font-size: 12px;
    margin-right: 10px;
}

.circle-border-icon {
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    width: 28px;
    box-shadow: 0px 0px 2px white;
    padding: 0.5em 0.6em;
}

.location-search-addon {
    position: relative;
    width: 35vw;
    left: 29vw;
}

@media (max-width: 768px) {
    .location-search-addon {
        position: relative;
        //width: 35vw;
        //left: 18vw;
        width: 70vw;
        left: 0vw;
    }
}

.location-search-addon input {
    padding-left: 30px;
    padding-right: 30px;   
}
.location-search-addon #locator {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    font-size: 20px;
}

.location-search-addon #locate-me {
    position: absolute;
    right: 0px;
    padding: 10px 12px;    
    font-size: 20px;
}

.location-search-addon #findFoodButton {
    position: absolute;
    right: -8.5vw;
    padding: 10px 12px;
    width: 9vw;
    background-color: #00923f;
    height: 40px;    
}

@media (max-width: 768px) {
    .location-search-addon #findFoodButton {
        position: absolute;
        right: -24.5vw;
        padding: 10px 12px;
        width: 25vw;
        background-color: #00923f;
        height: 40px;    
    }
}

.thirdLayer {
    position: relative;    
} 

.thirdLayerOverlay1 {
    position: absolute;
    top: 80px;
    right: 114px;    
}

.thirdLayerOverlay2 {
    position: absolute;
    top: 110px;
    right: 266px;    
}

.thirdLayerOverlay3 {
    position: absolute;
    top: 360px;
    right: 0px;    
}

@media (max-width: 768px) {
    .thirdLayerOverlay1 {
        display: none;    
    }
    
    .thirdLayerOverlay2 {
        display: none;
    }
    
    .thirdLayerOverlay3 {
        display: none;
    }
    .line-css {
        display: none;
    }
}

agm-map {
    height: 35vh;
    width: 43.5vw;
}

@media (max-width: 768px) {
    agm-map {
        height: 45vh;
        //width: 59.5vw;
        width: 93vw;
    }
}

.findRestaurants{
    width: 43.5vw !important;
}

@media (max-width: 768px) {
    .findRestaurants{        
       // width: 59.5vw !important;
        width: 93vw !important;
    }
}

.search-location-display {
    position: absolute;
    top: 16vh;
    width: 100%;
    //left: 340px;
    color: white;
}

.edit-location {
    position: absolute;   
    bottom: 7vh;     
    width: 43.5vw !important; 
    text-align: right;
    padding: 5px;  
}

@media (max-width: 768px) {
    .edit-location {
        position: absolute;   
        bottom: 7vh;     
        //width: 59.5vw !important; 
        width: 93vw !important; 
        text-align: right;
        padding: 5px;  
    }
}

.close-map {
    position: absolute;   
    width: 43.5vw !important;
    top: 0vh;         
    text-align: right;    
}

@media (max-width: 768px) {
    .close-map {
        position: absolute;   
        //width: 59.5vw !important;
        width: 93vw !important;
        top: 0vh;         
        text-align: right;    
    }
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
    outline: 0;
    cursor: pointer;
    position: absolute;
    right: 0px;
    padding: 17px;    
    font-size: 20px;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 22px;
	position: absolute;	
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;	
	text-align: center;
	color: black;
	font-weight: normal;
	font-size: 17px;	
	cursor: pointer;
}

#bg {
    position: relative;   
}



